*{
    box-sizing: border-box;
    font-family: system-ui;
    user-select: none;
}
body{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 100px;
    background: linear-gradient(0deg, #17882C 0%, #00510F 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    border-radius: 100%;
    padding: 5px;
    width: 80px;
    height: 80px;
}
.logo-container img,
.login-but img{
    width: 100%;
    height: 100%;
}
.login-but{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
footer{
    width: 100%;
    height: 200px;
    background: linear-gradient(180deg, #17882C 0%, #00510F 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-container{
    width: 200px;
    height: 60px;
    border-radius: 100px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container img{
    width: 70px;
    height: 70px;
}
.footer-span{
    font-size: 26px;
    color: #00463C;
    font-weight: 900;
    margin-left: -12px;
    margin-top: 15px;
}
.area-site{
    width: 100%;
    height: auto;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 15px;
    max-width: 1280px;
    margin: 0 auto;
}
.lg-chart{
    width: 100%;
    height: 100%;
    max-width: 500px!important;
    max-height: 250px!important;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #b9b9b9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.first-block{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin: 20px 0;
}
.title-home{
   display: flex;
   gap: 15px;
   width: 100%;
   height: 50px;
}
.home-h1{
    padding-left: 15px;
    font-weight: 700;
    color: #505050;
    font-size: 38px;
    margin: 0;
    margin-right: 20px;
    white-space: nowrap;;
}
.dotted-line{
    border: none;
    border-top: 2px dotted #17882C;
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 100%;
    opacity: 1;
    margin-top: 25px;

}
.second-block{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.courses-view{
    width: 80%;
    height: 100%;
    position: relative;
    display: flex;
    border: 5px solid #17882C;
    border-radius: 15px;
    justify-content: space-around;
    padding: 15px;
    gap: 15px;
    padding-top: 0px;
}
.top-courses{
    width: 210px;
    height: 50px;
    background-color: #17882C;
    padding: 5px 15px;
    color: #FFF;
    font-weight: 900;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 0 0 12px 12px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.single-course{
    position: relative;
    width: 100%;
    height: calc(100% - 60px);
    top: 60px;
    padding: 20px;
    border-radius: 20px;
    border: 5px solid #008AA7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.third-block{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 20px 0;

}
.course-span{
    font-weight: 900;
    font-size: 18px;
}
.area-egressos{
    width: 100%;
    height: auto;
    border: 1px solid #cecece;
    border-radius: 12px;
    background-color: #FFF;
    padding: 12px;
}
.single-egresso{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f7f7f7;
    border: 1px solid #cecece;
    border-bottom: none;
}
.single-egresso:first-child{
    border-bottom: none;
    border-radius: 8px 8px 0 0;
}
.single-egresso:last-child{
    border-bottom: 1px solid #cecece;
    border-radius: 0 0 8px 8px;
}
